.overlay {
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #ffffff;
  height: 450px;
  width: 420px;
  border-radius: 16px;
  padding-left: 29px;
  padding-top: 25px;
}


.modal input {
  width: 360px;
  height: 43px;
  padding: 6px 14px;
  font-size: 15px;
  border-radius: 12px;
  border: 1px solid rgb(200, 200, 200);
  outline: none;
  margin-top: 16px;
}

.modal input:focus {
  outline: 1px solid #1b71fc;
}

.modal textarea {
  width: 360px;
  height: 240px;
  padding: 10px 16px;
  border-radius: 14px;
  border: 1px solid rgb(200, 200, 200);
  font-size: 15px;
  outline: none;
  margin-top: 12px;
}

.modal textarea:focus {
  outline: 1px solid #1b71fc;
}


.cancel-button, .save-button {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 22px;
  cursor: pointer;

  transition: opacity 0.15s;
}

.cancel-button {
  border: 1px solid rgb(200, 200, 200);
  color: rgb(120, 120, 120);
}

.save-button {
  border: none;
  padding: 11px 22px;
  background-color: #1b71fc;
  color: white;
}

.save-button:active {
  opacity: 0.8;
}

.cancel-button:active {
  opacity: 0.8;
}