.notes-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  row-gap: 10px;
  margin-top: 40px;
  margin-left: 28px;
  margin-right: 28px;
  overflow: hidden;
}

.note-card {
  background-color: white;
  height: 228px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  padding: 12px 14px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.note-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.note-desc {
  height: 75%;
}

.bottom-row {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  align-items: center;
}

.bottom-row span {
  font-size: 14px;
  color: rgb(120,120, 120);
}

.bottom-row button {
  font-size: 18px;
  background-color: white;
  border: none;
  color: rgb(120,120, 120);
  cursor: pointer;
  font-weight: 550;
}

.bottom-row button:active {
  color: rgb(206, 16, 16);
}