.options-container {
  background-color: #ffffff;
  width: 64%;
  padding: 18px 16px;
  height: 45%;
  border-radius: 12px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
   
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.length-container {
  display: flex;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 7px;
  margin-bottom: 18px;
}

.label {
  font-weight: 600;
}

.password-length {
  color: #3b82f6;
  font-weight: 700;
  font-size: 16px;
}

.range-selector {
  width: 97%; 
  margin-left: 5px;
  cursor: pointer;
  background: #e5e7eb; 
  border-radius: 6px;
  outline: none;
  -webkit-appearence: none;
  appearance: none;
  height: 8px;
 
}

.range-selector::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3b82f6;

}

.range-selector::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3b82f6;
  border: none;
  cursor: pointer;
}

p {
  font-weight: 700;
  color: black;
  margin-top: 18px;
  padding-left: 7px;
}

.checkbox-container {
  display: grid;
  grid-template-columns: 185px 185px;
  place-content: center;
  row-gap: 18px;
  column-gap: 18px;
}

.checkbox-container div {
  margin-top: -8px;
  padding: 16px 8px;
  border-radius: 8px;
  background-color: #f5f5f5;
  border: 1px solid rgb(200, 200, 200);
  
}

.checkbox-container div input {
  transform: scale(1.2);
  margin-left: 4px;
  margin-right: 8px;
  cursor: pointer;
  accent-color: #064ec2;
}

.checkbox-container div label {
  font-weight: 700;
  font-size: 15px;
}

.button-container {
 width: 87%;
 margin-left: auto;
 margin-right: auto;
 margin-top: 30px;

}

.generate-password-button {
  width: 100%;
  padding: 13px 0px;
  border: none;
  border-radius: 8px;
  background-color: #064ec2;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  transition: opacity 0.3s;
}

.generate-password-button:hover {
  opacity: 0.9;
}

.generate-password-button:active {
  opacity: 0.7;
}