.footer {
  display: flex;
  justify-content: space-between;
  width: 495px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.remaining-tasks-length {
  font-size: 13px;
  color: #9a9488;
}

.clear-button {
  border: none;
  background-color: none;
  color: #9a9488;
  cursor: pointer;

  transition: opacity 0.2s;
}

.clear-button:active {
  opacity: 0.8;
}

.clear-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}