.app-container {
  height: 100vh;
  width: 40vw;
  background-color: #0f0f0f;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  font-size: 38px;
  color: #c8f135;
  font-weight: 700;
}