@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

body,html {
  font-family: 'Inter' , sans-serif;
  color: #111827;
}


 .range-selector {
  width: 100%;
  height: 8px;
  cursor: pointer;

  appearance: none;
  -webkit-appearance: none;

  background: #e5e7eb;
  border-radius: 9999px;
  outline: none;
}

/* Chrome, Edge, Safari */
.range-selector::-webkit-slider-runnable-track {
  height: 8px;
  background: #e5e7eb;
  border-radius: 9999px;
}

.range-selector::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3b82f6;
  cursor: pointer;
  margin-top: -6px; /* Centers the thumb on the 8px track */
}

/* Firefox */
.range-selector::-moz-range-track {
  height: 8px;
  background: #e5e7eb;
  border-radius: 9999px;
}

.range-selector::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #3b82f6;
  border: none;
  cursor: pointer;
}