.header {
  display: flex;
  justify-content: space-between;
  width: 395px;
  margin-bottom: 20px;
  align-items: center;
}

.question-number {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  padding: 5px 7px;
  font-weight: 550;
  color: black;
  border-radius: 14px;
  font-size: 15px;
}